.profile__profession {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}

@media screen and (max-width: 767px) {
    .profile__profession {
        margin: 0 auto;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
