.profile__button_edit {
    margin: auto 0 auto 10px;
    width: 24px;
    height: 24px;
    background-image: url('../../../../images/EditButtonImg.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    /* background-color: white; */
}
