.edit-form__button_save_changes {
    margin: 48px auto 37px;
    border-radius: 2px;
    color: white;
    background-color: black;
    width: 358px;
    height: 50px;
}

.edit-form__button_save_changes:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .edit-form__button_save_changes {
        max-width: 238px;
        font-size: 14px;
        line-height: auto;
    }
}
